
BODY {
  color: white;
  background: darkblue;
  width: 75%;
} 

a:link { 
  color: yellow;
}

a:visited { 
  color: orange;
}

a:active { 
  color: yellow;
}

pre {
  color: white;
  background: black;
  width: 60%
}

